# datasets (too big)
/data/

# training results (too big)
/logs/
/models/

# documents
/docs/report.zip
/docs/presentation.mp4
/docs/proposal.pdf

# python stuff
/.idea/
__pycache__/
/covid19_detection.egg-info/
/dist/
/build/
